/* .header-color {
  background: #FEAC5E;
  background: -webkit-linear-gradient(to left, #4BC0C8, #C779D0, #FEAC5E); 
  background: linear-gradient(to left, #4BC0C8, #C779D0, #FEAC5E);
}

.header-color a {
  color: white;
  text-decoration: none;
} */

/* Landing Page */

/* .landing-grid {
  background: 
  linear-gradient(to left, rgba(75, 192, 200, 0.3), rgba(199, 121, 208, 0.3), rgba(254, 172, 94, 0.3)),
  url('https://images.pexels.com/photos/3740383/pexels-photo-3740383.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -100px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.avatar-image {
  height: 250px;
  margin-top: 5em;
}

.banner-text {
  background-color: black;
  opacity: 0.8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
} */

/* .projects-grid {
  display: flex;
} */

/* Projects */

/* .project-card {
  margin: 30px 20px 0 0;
}

.project-card:hover {
  transition: all .2s ease-in-out;
  transform: scale(1.05);
}

.project-card-description {
  min-height: 90px;
} */

/* .project-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: flex-start;
  justify-content: space-around;
} */

/* .project-title {
  padding: 10px;
  margin-top: 120px;
  margin-left: -8px;
  width: 330px;
  color: rgb(64, 41, 66);
  font-size: 22px;
  padding: 7px;
  border-radius: 1px;
  background-color: rgba(255, 255, 255, 0.7);
  background: -webkit-linear-gradient(to left, rgba(255, 255, 255, 0.8), rgba(0, 209, 199, 0.7)); 
  background: linear-gradient(to left, rgba(255, 255, 255, 0.8), rgba(0, 209, 199, 0.7)); 
} */

/* .project-card:hover .project-title {
  background: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(254, 171, 93, 0.7)); 
  background: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(254, 171, 93, 0.7));
} */

/* .project-button,
.email-form button {
	box-shadow: inset 0px 1px 0px 0px #efdcfb;
	background: linear-gradient(to bottom, #4BC0C8 5%, #bc80ea 100%);
	background-color:#dfbdfa;
	border-radius: 6px;
	border: 1px solid #c584f3;
	display: inline-block;
	cursor: pointer;
	color:#ffffff;
	font-size: 15px;
	font-weight: bold;
	padding: 10px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #9752cc;
} */
/* .project-button:hover,
.email-form button:hover {
	background:linear-gradient(to bottom, #bc80ea 5%, #FEAC5E 100%);
	background-color:#bc80ea;
} */
/* .project-button:active,
.email-form button:active {
	position:relative;
	top:1px;
} */

/* .project-button {
  display: flex;
  justify-content: center;
  margin: 50px auto;
  width: 250px;
} */

/* .delete-link {
	box-shadow: inset 0px 1px 0px 0px #efdcfb;
	background: linear-gradient(to bottom, #4BC0C8 5%, #bc80ea 100%);
	background-color:#dfbdfa;
	border-radius: 6px;
	border: 1px solid #c584f3;
	display: inline-block;
	cursor: pointer;
	color:#ffffff;
	font-size: 15px;
	font-weight: bold;
	padding: 5px 15px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #9752cc;
} */
/* .delete-link:hover {
	background:linear-gradient(to bottom, #bc80ea 5%, #FEAC5E 100%);
	background-color:#bc80ea;
}
.delete-link:active {
	position:relative;
	top:1px;
}

.delete-link {
  display: flex;
  justify-content: flex-end;
  margin: auto;
  width: 50px;
} */

/* Contact Page */

/* .contact-body {
  margin: auto;
  background: rgb(100, 79, 102);
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
} */

/* .contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  border: 2px dashed black;
  width: 30%;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 20px;
} */

/* .contact-body {
  text-align: center;
}

.contact-body h2 {
  font-family: 'Anton', sans-serif;
}

.contact-grid p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.contact-body hr {
  border-top: 5px dotted black;
  width: 30%;
  margin: auto;
} */

/* .contact-list {
  display: flex;
  justify-content: center;
}

.contact-list i {
  font-size: 66px;
  padding-right: 5rem;
} */

/* Resume Page */
/* 
.resume-right-col {
  background: 
  linear-gradient(rgba(39, 33, 31, 0.8), rgba(39, 33, 31, 0.8)),
  url('https://images.pexels.com/photos/2682452/pexels-photo-2682452.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
  background: rgba(39, 33, 31, 0.3);
  background-size: cover;
  color: white;
  padding: 2em;
  border-radius: 30px;
}

.resume-left-col hr {
  border-top: 3px solid #833fb2; 
  width: 50%; 
}

.resume-right-col hr {
  border-top: 3px solid #FEAC5E;
}

.resume-button {
  margin: 0;
  width: 150px;
} */

/* Login */
/* .login-box-background {
  background: 
    linear-gradient(rgba(39, 33, 31, 0.3), rgba(39, 33, 31, 0.3)),
    url('https://images.pexels.com/photos/1422286/pexels-photo-1422286.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
  height: 100%;
  background-size: cover;
} */

/* .login-box,
.project-box {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
  width: 500px;
  padding: 40px;
  transform: translate(1%, 6%);
  background: rgba(61, 45, 61, 0.6);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
} */

/* .login-box {
  padding: 15px 40px;
} */

/* .project-box {
  height: 400px;
  width: 400px;
} */

/* .login-box h1,
.project-box h1 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
} */

/* .user-box, */
/* .project-box, */
/* .project-form-box, */
/* .email-form {
  position: relative;
} */

/* .user-box input, */
/* .project-label input, */
/* .project-form-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
} */

/* .project-label input, */
/* .project-form-box input {
  font-size: 14px;
  padding: 5px 0;
} */

/* .user-box label, */
/* .project-label label, */
/* .project-form-box label, */
/* .contact-body label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
} */

/* .user-box input:focus ~ label, */
/* .project-label input:focus ~ label, */
/* .project-form-box:focus ~ label, */
/* .contact-body input:focus ~ label {
  top: -25px;
  left: 0;
  color: #03e9f4;
  font-size: 16px;
} */

/* .user-box input:not(:placeholder-shown) ~ label, */
/* .project-label input:not(:placeholder-shown) ~ label, */
/* .project-form-box input:not(:placeholder-shown) ~ label, */
/* .contact-body input:not(:placeholder-shown) ~ label {
  transform: translate(10%, -75%) scale(.9);
  opacity: .25;
  color: #03e9f4;
} */

/* .project-label input:not(:placeholder-shown) ~ label, */
/* .contact-body input:not(:placeholder-shown) ~ label {
  transform: translate(10%, -10%) scale(.9);
  opacity: .25;
  color: #03e9f4;
} */

/* .no-account,
.have-account {
  color: #fff;
  font-size: 16px;
}

.no-account-link,
.have-account-link {
  text-decoration: none;
  font-size: 16px;
  color: #03e9f4;
}

.no-account-link:hover,
.have-account-link:hover {
  color: rgb(250, 193, 140);
} */

/* Register */
/* .register-box-background {
  background: 
    linear-gradient(rgba(39, 33, 31, 0.4), rgba(39, 33, 31, 0.4)), 
    url('https://images.unsplash.com/photo-1511649475669-e288648b2339?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80');
    background-size: cover;
    background-position-y: bottom;
} */

/* .register-box {
  position: relative;
  top: -100%;
  left: 50%;
  width: 500px;
  margin: auto;
  padding: 20px 40px;
  transform: translate(1%, 0%);
  background: rgba(61, 45, 61, 0.7);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
} */
/* 
.register-box h1 {
  margin: 10px 0 20px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.register-box button {
  margin-top: 0;
} */

/* Project Forms */
/* .project-form {
  display: flex;
  justify-content: center;
  margin: 20px;
  margin: auto;
} */

/* .project-right-col {
  margin: 0 20px;
  position: relative;
  top: 60%;
  left: 50%;
  width: 500px;
  height: 550px;
  padding: 20px;
  padding-bottom: 0;
  transform: translate(-50%, -50%);
  background: rgba(61, 45, 61, 0.6);
  box-sizing: border-box;
  box-shadow: 0px 15px 25px rgba(0,0,0,.6);
  border-radius: 0 10px 10px 0;
} */
/* 
.project-right-col h2 {
  margin: 20px;
  padding: 0;
  color: #fff;
  text-align: center;
} */

/* .project-form-button {
  display: flex;
} */

/* .cancel-button {
  width: 100px;
  margin-left: 10px;
} */

/* Main Page Banner */
/* .banner-text {
  animation-name: stretch;
  animation-duration: 1.5s; 
  animation-timing-function: ease-out; 
  animation-delay: 0.5s;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: none;
  animation-play-state: running;
} */

/* @keyframes stretch {
  0% {
    transform: scale(.3);
    border-radius: 10%;
  }
  100% {
    transform: scale(1.0);
  }
} */

/* Contact Form */
/* .email-form input,
.email-form textarea {
  width: 100%;
  padding-top: 15px;
  font-size: 16px;
  margin: 15px 0;
  border: none;
  border-bottom: 1px solid rgb(170, 169, 169);
  outline: none;
  background: transparent;
  font-size: 14px;
} */
/* 
.email-form label {
  margin: 20px;
} */

/* .email-form textarea {
  padding: 5px;
  margin-top: 30px;
  border: 1px solid rgb(170, 169, 169);
  font-family: Arial, Helvetica, sans-serif;
} */

/* .email-form button {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 150px;
} */

/* .contact-list i {
  margin-left: 20px;
  margin-right: -10px;
} */
/* 
.contact-body {
  background: 
    linear-gradient(rgba(135, 206, 250, 0.5), rgba(135, 206, 250, 0.5)),
    url('https://images.pexels.com/photos/1537628/pexels-photo-1537628.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
} */

/* .contact-body h2 {
  color: white;
  width: 100%;
} */

/* .contact-body p {
  font-size: 16px;
} */