.header-color {
  background: #FEAC5E;
  background: -webkit-linear-gradient(to left, #4BC0C8, #C779D0, #FEAC5E); 
  background: linear-gradient(to left, #4BC0C8, #C779D0, #FEAC5E);

    a {
      color: white;
      text-decoration: none;
    }
}