.project-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* justify-content: flex-start; */
  /* justify-content: space-around; */

    .project-card {
      margin: 30px 20px 0 0;

        &:hover {
          transition: all .2s ease-in-out;
          transform: scale(1.05);
        }

        &:hover {
          background: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(254, 171, 93, 0.7)); 
          background: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(254, 171, 93, 0.7));
        }

        .project-card-description {
          min-height: 90px;
        }

        .project-title {
          /* padding: 10px; */
          margin-top: 120px;
          /* margin-left: -8px; */
          width: 330px;
          color: rgb(64, 41, 66);
          font-size: 22px;
          padding: 7px;
          /* border-radius: 1px; */
          background-color: rgba(255, 255, 255, 0.7);
          background: -webkit-linear-gradient(to left, rgba(255, 255, 255, 0.8), rgba(0, 209, 199, 0.7)); 
          background: linear-gradient(to left, rgba(255, 255, 255, 0.8), rgba(0, 209, 199, 0.7)); 
          // background: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(254, 171, 93, 0.7)); 
          // background: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(254, 171, 93, 0.7));
        }

        .project-button {
          box-shadow: inset 0px 1px 0px 0px #efdcfb;
          background: linear-gradient(to bottom, #4BC0C8 5%, #bc80ea 100%);
          background-color:#dfbdfa;
          border-radius: 6px;
          border: 1px solid #c584f3;
          display: inline-block;
          cursor: pointer;
          color:#ffffff;
          font-size: 15px;
          font-weight: bold;
          padding: 10px 24px;
          text-decoration: none;
          text-shadow: 0px 1px 0px #9752cc;
          display: flex;
          justify-content: center;
          margin: 50px auto;
          width: 250px;

            &:hover {
              background:linear-gradient(to bottom, #bc80ea 5%, #FEAC5E 100%);
              background-color:#bc80ea;
            }

            &:active {
              position:relative;
              top:1px;
            }
        }

        .delete-link {
          box-shadow: inset 0px 1px 0px 0px #efdcfb;
          background: linear-gradient(to bottom, #4BC0C8 5%, #bc80ea 100%);
          background-color:#dfbdfa;
          border-radius: 6px;
          border: 1px solid #c584f3;
          display: inline-block;
          cursor: pointer;
          color:#ffffff;
          font-size: 15px;
          font-weight: bold;
          padding: 5px 15px;
          text-decoration: none;
          text-shadow: 0px 1px 0px #9752cc;
          display: flex;
          justify-content: flex-end;
          margin: auto;
          width: 50px;

            &:hover {
              background:linear-gradient(to bottom, #bc80ea 5%, #FEAC5E 100%);
              background-color:#bc80ea;
            }

            &:active {
              position:relative;
              top:1px;
            }
        }
    }
}

.category-tabs {
  .content {
     .projects-grid {
        display: flex;
        flex-direction: column;

        .project-button {
          box-shadow: inset 0px 1px 0px 0px #efdcfb;
          background: linear-gradient(to bottom, #4BC0C8 5%, #bc80ea 100%);
          background-color:#dfbdfa;
          border-radius: 6px;
          border: 1px solid #c584f3;
          display: inline-block;
          cursor: pointer;
          color:#ffffff;
          font-size: 15px;
          font-weight: bold;
          padding: 10px 24px;
          text-decoration: none;
          text-shadow: 0px 1px 0px #9752cc;
          display: flex;
          justify-content: center;
          margin: 50px auto;
          width: 250px;

            &:hover {
              background:linear-gradient(to bottom, #bc80ea 5%, #FEAC5E 100%);
              background-color:#bc80ea;
            }

            &:active {
              position:relative;
              top:1px;
            }
        }
      } 
  }
}