/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
span,
applet,
object,
iframe,
h5,
h6,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.navigation .header-color {
  background: #FEAC5E;
  background: -webkit-linear-gradient(to left, #4BC0C8, #C779D0, #FEAC5E);
  background: linear-gradient(to left, #4BC0C8, #C779D0, #FEAC5E);
}
.navigation .header-color a {
  color: white;
  text-decoration: none;
}
.navigation .header-color a:hover {
  box-shadow: inset 0px -5px 0px white, inset 0px 5px 0px white;
  transition: width 2s;
}
.landing-grid {
  background: linear-gradient(to left, rgba(75, 192, 200, 0.2), rgba(199, 121, 208, 0.2), rgba(254, 172, 94, 0.2)), url('https://images.pexels.com/photos/3740383/pexels-photo-3740383.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.landing-grid .avatar-image {
  height: 250px;
  margin-top: 5em;
  box-shadow: 10px 10px 10px #3a3a3a;
}
.landing-grid .banner-text {
  background-color: black;
  opacity: 0.8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
  animation-name: stretch;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0.5s;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: none;
  animation-play-state: running;
}
@keyframes stretch {
  0% {
    transform: scale(0.3);
    border-radius: 10%;
  }
  100% {
    transform: scale(1);
  }
}
.landing-grid .banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
}
.landing-grid .banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}
.landing-grid .banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}
.landing-grid .social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}
.landing-grid .social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}
.resume-right-col {
  background: linear-gradient(rgba(39, 33, 31, 0.8), rgba(39, 33, 31, 0.8)), url('https://images.pexels.com/photos/2682452/pexels-photo-2682452.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
  /* background: rgba(39, 33, 31, 0.3); */
  background-size: cover;
  color: white;
  padding: 2em;
  border-radius: 30px;
}
.resume-right-col hr {
  border-top: 3px solid #FEAC5E;
}
.resume-left-col hr {
  border-top: 3px solid #833fb2;
  width: 50%;
}
.resume-left-col .resume-button {
  margin: 0;
  width: 150px;
}
.resume-left-col .project-button {
  box-shadow: inset 0px 1px 0px 0px #efdcfb;
  background: linear-gradient(to bottom, #4BC0C8 5%, #bc80ea 100%);
  background-color: #dfbdfa;
  border-radius: 6px;
  border: 1px solid #c584f3;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: 0px 1px 0px #9752cc;
  display: flex;
  justify-content: center;
  margin: 20px 0;
  width: 250px;
}
.resume-left-col .project-button:hover {
  background: linear-gradient(to bottom, #bc80ea 5%, #FEAC5E 100%);
  background-color: #bc80ea;
}
.resume-left-col .project-button:active {
  position: relative;
  top: 1px;
}
.project-box {
  /* position: absolute; */
  /* top: 50%;
  left: 50%; */
  margin: auto;
  width: 500px;
  padding: 40px;
  transform: translate(1%, 6%);
  background: rgba(61, 45, 61, 0.6);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  width: 400px;
  position: relative;
}
.project-box h1 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}
.project-box .project-label input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  font-size: 14px;
  padding: 5px 0;
}
.project-box .project-label input:focus ~ label {
  /* top: -25px; */
  left: 0;
  color: #03e9f4;
  font-size: 16px;
}
.project-box .project-label input:not(:placeholder-shown) ~ label {
  transform: translate(10%, -75%) scale(0.9);
  /* opacity: .25; */
  color: #03e9f4;
}
.project-box .project-label input:not(:placeholder-shown) ~ label {
  transform: translate(10%, -10%) scale(0.9);
  /* opacity: .25; */
  color: #03e9f4;
}
.project-box .project-label label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}
.project-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* justify-content: flex-start; */
  /* justify-content: space-around; */
}
.project-card-container .project-card {
  margin: 30px 20px 0 0;
}
.project-card-container .project-card:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.05);
}
.project-card-container .project-card:hover {
  background: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(254, 171, 93, 0.7));
  background: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(254, 171, 93, 0.7));
}
.project-card-container .project-card .project-card-description {
  min-height: 90px;
}
.project-card-container .project-card .project-title {
  /* padding: 10px; */
  margin-top: 120px;
  /* margin-left: -8px; */
  width: 330px;
  color: #402942;
  font-size: 22px;
  padding: 7px;
  /* border-radius: 1px; */
  background-color: rgba(255, 255, 255, 0.7);
  background: -webkit-linear-gradient(to left, rgba(255, 255, 255, 0.8), rgba(0, 209, 199, 0.7));
  background: linear-gradient(to left, rgba(255, 255, 255, 0.8), rgba(0, 209, 199, 0.7));
}
.project-card-container .project-card .project-button {
  box-shadow: inset 0px 1px 0px 0px #efdcfb;
  background: linear-gradient(to bottom, #4BC0C8 5%, #bc80ea 100%);
  background-color: #dfbdfa;
  border-radius: 6px;
  border: 1px solid #c584f3;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #9752cc;
  display: flex;
  justify-content: center;
  margin: 50px auto;
  width: 250px;
}
.project-card-container .project-card .project-button:hover {
  background: linear-gradient(to bottom, #bc80ea 5%, #FEAC5E 100%);
  background-color: #bc80ea;
}
.project-card-container .project-card .project-button:active {
  position: relative;
  top: 1px;
}
.project-card-container .project-card .delete-link {
  box-shadow: inset 0px 1px 0px 0px #efdcfb;
  background: linear-gradient(to bottom, #4BC0C8 5%, #bc80ea 100%);
  background-color: #dfbdfa;
  border-radius: 6px;
  border: 1px solid #c584f3;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #9752cc;
  display: flex;
  justify-content: flex-end;
  margin: auto;
  width: 50px;
}
.project-card-container .project-card .delete-link:hover {
  background: linear-gradient(to bottom, #bc80ea 5%, #FEAC5E 100%);
  background-color: #bc80ea;
}
.project-card-container .project-card .delete-link:active {
  position: relative;
  top: 1px;
}
.category-tabs .content .projects-grid {
  display: flex;
  flex-direction: column;
}
.category-tabs .content .projects-grid .project-button {
  box-shadow: inset 0px 1px 0px 0px #efdcfb;
  background: linear-gradient(to bottom, #4BC0C8 5%, #bc80ea 100%);
  background-color: #dfbdfa;
  border-radius: 6px;
  border: 1px solid #c584f3;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #9752cc;
  display: flex;
  justify-content: center;
  margin: 50px auto;
  width: 250px;
}
.category-tabs .content .projects-grid .project-button:hover {
  background: linear-gradient(to bottom, #bc80ea 5%, #FEAC5E 100%);
  background-color: #bc80ea;
}
.category-tabs .content .projects-grid .project-button:active {
  position: relative;
  top: 1px;
}
.project-form {
  display: flex;
  justify-content: center;
  margin: 20px;
  /* margin: auto; */
}
.project-form .project-right-col {
  /* margin: 0 20px; */
  /* position: relative; */
  top: 60%;
  left: 50%;
  width: 500px;
  height: 550px;
  padding: 20px;
  /* padding-bottom: 0; */
  /* transform: translate(-50%, -50%); */
  background: rgba(61, 45, 61, 0.6);
  box-sizing: border-box;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 0 10px 10px 0;
}
.project-form .project-right-col h2 {
  margin: 20px;
  padding: 0;
  color: #fff;
  text-align: center;
}
.project-form .project-right-col .project-form-button {
  display: flex;
}
.project-form .project-right-col .project-form-button .cancel-button {
  width: 100px;
  margin-left: 10px;
}
.project-form .project-right-col .project-form-box {
  position: relative;
}
.project-form .project-right-col .project-form-box:focus ~ label {
  /* top: -25px; */
  left: 0;
  color: #03e9f4;
  font-size: 16px;
}
.project-form .project-right-col .project-form-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  font-size: 14px;
  padding: 5px 0;
}
.project-form .project-right-col .project-form-box input:not(:placeholder-shown) ~ label {
  transform: translate(10%, -75%) scale(0.9);
  /* opacity: .25; */
  color: #03e9f4;
}
.project-form .project-right-col .project-form-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}
.project-form .project-right-col .project-button {
  box-shadow: inset 0px 1px 0px 0px #efdcfb;
  background: linear-gradient(to bottom, #4BC0C8 5%, #bc80ea 100%);
  background-color: #dfbdfa;
  border-radius: 6px;
  border: 1px solid #c584f3;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #9752cc;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  width: 250px;
}
.project-form .project-right-col .project-button:hover {
  background: linear-gradient(to bottom, #bc80ea 5%, #FEAC5E 100%);
  background-color: #bc80ea;
}
.project-form .project-right-col .project-button:active {
  position: relative;
  top: 1px;
}
.contact-body {
  margin: auto;
  /* background: rgb(100, 79, 102); */
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
  text-align: center;
  background: url('https://images.pexels.com/photos/1537628/pexels-photo-1537628.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}
.contact-body h2 {
  font-family: 'Anton', sans-serif;
  color: white;
  width: 100%;
}
.contact-body p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
  font-size: 16px;
}
.contact-body hr {
  border-top: 5px dotted black;
  width: 30%;
  margin: auto;
}
.contact-body label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}
.contact-body input:focus ~ label {
  /* top: -25px; */
  left: 0;
  color: #03e9f4;
  font-size: 16px;
}
.contact-body input:not(:placeholder-shown) ~ label {
  transform: translate(10%, -75%) scale(0.9);
  /* opacity: .25; */
  color: #03e9f4;
}
.contact-body input:not(:placeholder-shown) ~ label {
  transform: translate(10%, -10%) scale(0.9);
  /* opacity: .25; */
  color: #03e9f4;
}
.contact-body .contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  /* height: 550px; */
  background: white;
  color: black;
  border: 2px dashed black;
  /* width: 30%;
      margin: auto; */
  border-radius: 10px;
  margin-bottom: 20px;
}
.contact-body .contact-grid .email-form {
  position: relative;
}
.contact-body .contact-grid .email-form input,
.contact-body .contact-grid .email-form textarea {
  width: 100%;
  padding-top: 15px;
  font-size: 16px;
  margin: 15px 0;
  border: none;
  border-bottom: 1px solid #aaa9a9;
  outline: none;
  background: transparent;
  font-size: 14px;
}
.contact-body .contact-grid .email-form textarea {
  padding: 5px;
  margin-top: 30px;
  border: 1px solid #aaa9a9;
  font-family: Arial, Helvetica, sans-serif;
}
.contact-body .contact-grid .email-form button {
  box-shadow: inset 0px 1px 0px 0px #efdcfb;
  background: linear-gradient(to bottom, #4BC0C8 5%, #bc80ea 100%);
  background-color: #dfbdfa;
  border-radius: 6px;
  border: 1px solid #c584f3;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #9752cc;
  display: flex;
  justify-content: center;
  margin: auto;
  width: 150px;
}
.contact-body .contact-grid .email-form button:hover {
  background: linear-gradient(to bottom, #bc80ea 5%, #FEAC5E 100%);
  background-color: #bc80ea;
}
.contact-body .contact-grid .email-form button:active {
  position: relative;
  top: 1px;
}
.contact-body .contact-grid .contact-list {
  display: flex;
  justify-content: center;
}
.contact-body .contact-grid .contact-list i {
  font-size: 66px;
  padding-right: 5rem;
  margin-left: 20px;
  margin-right: -10px;
}
.register-box-background {
  background: url('https://images.unsplash.com/photo-1511649475669-e288648b2339?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80');
  background-size: cover;
  background-position-y: bottom;
}
.register-box-background .register-box {
  /* position: relative; */
  /* top: -100%;
        left: 50%; */
  width: 500px;
  margin: auto;
  padding: 20px 40px;
  transform: translate(1%, 0%);
  background: rgba(61, 45, 61, 0.7);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  /* border-radius: 10px; */
}
.register-box-background .register-box h1 {
  margin: 10px 0 20px;
  padding: 0;
  color: #fff;
  text-align: center;
}
.register-box-background .register-box button {
  margin-top: 0;
}
.register-box-background .register-box .user-box {
  position: relative;
}
.register-box-background .register-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.register-box-background .register-box .user-box input:focus ~ label {
  /* top: -25px; */
  left: 0;
  color: #03e9f4;
  font-size: 16px;
}
.register-box-background .register-box .user-box input:not(:placeholder-shown) ~ label {
  transform: translate(10%, -75%) scale(0.9);
  /* opacity: .25; */
  color: #03e9f4;
}
.register-box-background .register-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}
.register-box-background .register-box .project-button {
  box-shadow: inset 0px 1px 0px 0px #efdcfb;
  background: linear-gradient(to bottom, #4BC0C8 5%, #bc80ea 100%);
  background-color: #dfbdfa;
  border-radius: 6px;
  border: 1px solid #c584f3;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #9752cc;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  width: 250px;
}
.register-box-background .register-box .project-button:hover {
  background: linear-gradient(to bottom, #bc80ea 5%, #FEAC5E 100%);
  background-color: #bc80ea;
}
.register-box-background .register-box .project-button:active {
  position: relative;
  top: 1px;
}
.register-box-background .register-box .have-account {
  color: #fff;
  font-size: 16px;
}
.register-box-background .register-box .have-account-link {
  text-decoration: none;
  font-size: 16px;
  color: #03e9f4;
}
.register-box-background .register-box .have-account-link:hover {
  color: #fac18c;
}
.login-box-background {
  background: url('https://images.pexels.com/photos/1422286/pexels-photo-1422286.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
  height: 100%;
  background-size: cover;
}
.login-box-background .login-box {
  /* position: absolute; */
  /* top: 50%;
      left: 50%; */
  margin: auto;
  width: 500px;
  padding: 40px;
  transform: translate(1%, 6%);
  background: rgba(61, 45, 61, 0.6);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 15px 40px;
}
.login-box-background .login-box h1 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}
.login-box-background .login-box .user-box {
  position: relative;
}
.login-box-background .login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box-background .login-box .user-box input:focus ~ label {
  /* top: -25px; */
  left: 0;
  color: #03e9f4;
  font-size: 16px;
}
.login-box-background .login-box .user-box input:not(:placeholder-shown) ~ label {
  transform: translate(10%, -75%) scale(0.9);
  /* opacity: .25; */
  color: #03e9f4;
}
.login-box-background .login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}
.login-box-background .login-box .project-button {
  box-shadow: inset 0px 1px 0px 0px #efdcfb;
  background: linear-gradient(to bottom, #4BC0C8 5%, #bc80ea 100%);
  background-color: #dfbdfa;
  border-radius: 6px;
  border: 1px solid #c584f3;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #9752cc;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  width: 250px;
}
.login-box-background .login-box .project-button:hover {
  background: linear-gradient(to bottom, #bc80ea 5%, #FEAC5E 100%);
  background-color: #bc80ea;
}
.login-box-background .login-box .project-button:active {
  position: relative;
  top: 1px;
}
.login-box-background .login-box .no-account {
  color: #fff;
  font-size: 16px;
}
.login-box-background .login-box .no-account .no-account-link {
  text-decoration: none;
  font-size: 16px;
  color: #03e9f4;
}
.login-box-background .login-box .no-account .no-account-link:hover {
  color: #fac18c;
}
